[Unit]
Description=Prometheus SNMP exporter service
After=network-online.target

[Service]
Restart=on-failure
User=root
ExecStart=/opt/snmp_exporter/snmp_exporter --config.file=/opt/snmp_exporter/snmp.yml

[Install]
WantedBy=multi-user.target
